/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('background1.jpg') center no-repeat;
  justify-content: center;
  
  
}

 .App {
  margin: 0 auto;
  padding: 20px;
  position: relative; 
  
} 



div {
  margin-bottom: 15px;
}

form {
  margin-bottom: 20px;
  align-items: center;
}

label {
  margin-right: 10px;
}

select, input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #0074e4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #85bef3;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 2px;
  background-color: #fff;

  margin-right: auto;
  margin-left: auto;
}


th {
  background-color: #21468B;
  
  color: #fff;
  border: 1px solid #dddddd00;
  padding: 8px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  /* background-color: #3a6fd2; */
  background-color: #fff;
  
}

 


thead {
  font-weight: bold;
}

.head {

  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
